<%- include('header') %>

<div class="container">
    <!-- title here is a variable <== passed to by express render() -->
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>
<!-- in turn, pass down JSON obj {} to the child "summary" -->
<%- include('summary', { account: accounts.savings }) %>
<%- include('summary', { account: accounts.checking }) %>
<%- include('summary', { account: accounts.credit }) %>
<br>
<!-- The /profile above and /transfer are handled by express BE as well when invoked-->
<a href="/transfer">Transfer</a>

<%- include('footer'); %>
